[2021-04-13 09:05] tdegeus commented on #415
For reference, I find that over at pybind11 they are doing their CMake well. I think that this could serve as an example for HighFive : https://pybind11.readthedocs.io/en/latest/cmake/index.html

(In fact things are not much different from in my rejected PR from a while ago)

[2021-04-17 13:33] sanjayankur31 opened #443 "Build failure on 32 bit architectures: error: conversion from 'hsize_t' {aka 'long long unsigned int'} to 'size_t' {aka 'unsigned int'} may change value [-Werror=conversion]"
**Describe the bug**
While building HighFive for inclusion in [NeuroFedora](https://pagure.io/neuro-sig/NeuroFedora/issue/440), we're seeing builds fail on 32 bit architectures: i686 and armv7hl

**To Reproduce**
Steps to reproduce the behavior:
Attempt to build on a 32 bit platform

**Expected behavior**
Build should pass (or if 32 bit architectures aren't supported, this should be documented)

*

[2021-04-18 16:42] sanjayankur31 opened #444 "Version 2.2.2: test failure: tests_high_five_base"
**Describe the bug**
While building HighFive for inclusion in Fedora, we're seeing a test fail.

**To Reproduce**
Steps to reproduce the behavior:
1. build HighFive, run ctest:

**Expected behavior**
All tests should pass

**Stacktrace**

[code]

**Desktop (please complete the following information):**
 - OS: Fedora 33/34/35 (rawhide/development)
 - Version 2.2.2

**Additional context**
Add any ot

[2021-04-19 10:31] matz-e commented on #444
Hi, I'm not able to reproduce this locally on my Fedora 33. But it looks like you may be missing the patch for #414?

[2021-04-19 12:23] sanjayankur31 commented on #444
Thanks! I've included the patch, and it does fix the failing test.

I'll carry it downstream until a new release is made. Closing this issue now.

[2021-04-19 12:35] matz-e commented on #444
Thanks for the feedback! It looks like we're overdue for a release, too. I'll bring this up in the next development meeting on our side.

[2021-04-20 08:50] #415 closed

[2021-04-21 08:30] tdegeus opened #445 "Can HighFive / HDF5 deal with `uint32_t` and `uint64_t` ?"
I want to store and load `uint32_t` and `uint64_t`. My question is simple: is this current possible, or am I supposed to cast to a C-standard type with a minimal guaranteed size ?

[2021-04-26 14:02] #435 closed

[2021-04-26 17:42] PhilipDeegan opened #446 "compiler config error"
Hi there,

I'm trying to use the PGI/openacc compiler suite from nvidia and having difficulties with this line here:
https://github.com/BlueBrain/HighFive/blob/f2a6b1d29ff2f8ba1c08f85916e8b5fbe83763b8/CMake/config/CompilerFlagsHelpers.cmake#L38

in my case "CMAKE_${COMPILER_LANGUAGE}_COMPILER_ID" = PGI

I commented out fatal_error and stopped building the examples and things continued to work as e

[2021-04-28 12:00] ferdonline commented on #9
@sergiorg-hpc This issue was recently resolved with #428

[2021-04-28 13:20] ferdonline commented on #443
Hi @sanjayankur31 and thanks for reporting it.
We don't really have 32bit systems to test, but I assume this can be easily fixed with proper `static_cast<size_t>`.
If you have fixed (or plan to) we would be happy to accept the contribution. Otherwise we will add this to our backlog, and eventually ask for your support testing.

[2021-04-28 13:55] sanjayankur31 commented on #443
Hi @ferdonline , thanks for your reply.

It isn't on my backlog at the moment. It'll be best to add it to the project backlog, and if/when I do find the time to work on a fix, I'll open a PR.

For the time being, we've excluded the 32 bit arches for highfive (and so all the software that depends on it). Our downstream tracker bug is here:

https://bugzilla.redhat.com/show_bug.cgi?id=1952348

[2021-04-28 14:04] ohm314 opened #447 "recursive symlink in tests/test_project/deps crashes pip install of downstream package"
**Describe the bug**

When installing brion (one of BlueBrain's python packages) via pip a `.tar.gz` containing HighFive is unpacked. Pip fails with a message like this:

[code]
It seems pip tries to follow symbolic links.

**To Reproduce**

Run:
[code]

**Expected behavior**

such installs with highfive dependencies should not fail.

**Desktop (please complete the following information):**
 - OS:

[2021-04-29 07:00] #9 closed

[2021-04-29 08:05] WanXinTao opened #449 "dataset.read() After reading the data, will it hold the data and cannot release it?"
I encountered this situation in the code below. After holding the data, it cannot be released and it takes up memory.

[code]

[2021-04-29 08:07] #447 closed

[2021-04-29 13:13] lwpiotr opened #451 "Reading dataset of unknown type"
Hello,

I want to read an HDF5 file with unknown structure. Afaik, HighFive does not provide any iteration mechanism, so I iterate myself. Still, when I encounter dataset, I don't know what datatype it is. **Can I read this dataset with HighFive not knowing the data type at the compilation time?** I've tried passing std::vector<std::any>, but HighFive says that this type is unsupported. Basically,

[2021-04-29 13:52] ohm314 commented on #451
Hello @lwpiotr

I'm not sure what you mean by iteration mechanism. In HighFive (as in HDF5) you cannot read a dataset not knowing its type. The API requires you to pass the correct datatype (see also H5D_READ). We don't support `std::any` and I'm not even sure how one would do this in the context of HDF5.
The way I would go about this is first call `DataSet::getDataType()` to query the dataset typ

[2021-04-29 16:32] lwpiotr commented on #451
1. Regarding iteration, I mean, in the best case something like for(object : group), recursive and not recursive. It seems that https://github.com/ess-dmsc/h5cpp has it for the non-recursive case. The worst case would be for group to have some begin() and end() or something similar, to help the iteration. Another way would be visit() or visititem() like in h5py. Could it be a feature request?

2.

[2021-04-29 22:03] #154 closed

[2021-04-30 00:24] WanXinTao commented on #449
I mean the memory cannot be released after getting the data
@ohm314

[2021-04-30 00:26] WanXinTao commented on #449
When I get the data through the above method, although the function exits, but the memory cannot be released

[2021-04-30 07:17] matz-e commented on #451
For iteration, this seems like something sensible. But what would be returned? A `std::variant` over `HighFive::Group` and `HighFive::Dataset`? Separate iteration methods for both?
[code]
?

[2021-04-30 07:47] tdegeus commented on #451
@lwpiotr Maybe it could help if you right what your actual intent is. If I read 'through the lines' it seems that you want to loop over all (or a selection of) datasets, without specifying them, and do some operation on the data.

It is true that for the first some kind of way might be nice in HighFive. I guess is should be some equivalent of

[2021-04-30 07:59] lwpiotr commented on #451
I have an HDF5 with "Events", where events have potentially unknown structure - some groups/datasets will be added to some events, but not to the others. My intention was to be able to read such whole event (or events) data (meaning datasets) to memory, without knowing what is inside. With h5py is relatively simple - loop iteratively over the file, check if the current node is a dataset, if it is,

[2021-04-30 08:01] tdegeus commented on #446
This does not address your bug, but it might open a way for more transparent and potentially faster support.

When I was proposing to reform CMake support here, I must say that I felt that all of these functions simply did not belong in the library. All of the optimisation flags are in my opinion not helpful for compiling with HighFive as all the possible optimisation should be done in the HDF5 li

[2021-04-30 08:07] tdegeus commented on #451
Don't worry to much about the type of data is on the one hand good, but in the other hand worrying about data is exactly what makes compiled codes (much) faster than interpreted codes (like Python). So, you will have to decide about the data, and based on that decision you might end up with more or less casting and copying, which could be costly. So again, the type of data matters here. If you are

[2021-04-30 08:11] ohm314 commented on #451
@lwpiotr , interesting use-case. As others pointed out. Currently, this isn't possible. But one can work on it. If you feel confident enough to contribute some code, we would be happy to work with you on this! I could imagine some iterator that returns H5Objects that you'd still would have to first query for type and then cast down - or maybe try @matz-e's idea with `std::variant`. It won't be as

[2021-04-30 08:33] lwpiotr commented on #451
I always promise to contribute some code, then end up with no time to fulfil :/ Anyway, I understand that the result can't be as dynamic as with h5py, as C++ is still a statically typed language. On the other hand, I guess h5py was coded in C or C++, so they must have figured out a way to provide all the datasets and groups in the HDF5 file to a python user, not knowing apriori anything about the

[2021-04-30 09:08] sanjayankur31 commented on #443
Note: I've fixed the issues on i686, but ran into another while testing on armv7hl. I'll have to find a test machine to work on that.

[2021-04-30 09:15] ohm314 commented on #449
Can you please provide a full reproducer and specify which memory (associated to which variable) is not released and how you come to the conclusion that the memory is not released? With the current information I don't quite see the issue, sorry.

[2021-04-30 10:15] lwpiotr opened #452 "Reading a compound type into memory"
Hello,

Is there a possibility to just read a dataset with a compound type as a byte array (for example, `vector<char[]>`) into memory, not knowing what is inside the type? In principle everything is there: `Dataset::getElementCount()` gives the number of elements in the vector, `Dataset::getStorageSize()` gives the size of the whole type, so unless there are some variable-length types inside the

[2021-04-30 10:19] WanXinTao commented on #449
![image](https://user-images.githubusercontent.com/21972225/116682117-6b209d00-a9e0-11eb-9aff-cb71ca209a4a.png)
![image](https://user-images.githubusercontent.com/21972225/116682176-7d024000-a9e0-11eb-9069-767600100c17.png)
![image](https://user-images.githubusercontent.com/21972225/116682225-8e4b4c80-a9e0-11eb-9518-17865f9d7678.png)
![image](https://user-images.githubusercontent.com/21972225/1166

[2021-04-30 10:21] WanXinTao commented on #449
@ohm314
I wrote a demo, described as the logic of the problem code, and the other thing I don’t understand is why there is a piece of memory that can’t be released.

[2021-04-30 11:46] matz-e commented on #449
@WanXinTao I'm not sure if we can help much here. I've adapted your reproducer to one of the HDF5 files with strings we have, and I see memory allocated drop from >1 GB to much less.

IIRC, memory behavior may vary a bit, see this blog post from the interwebs: https://lemire.me/blog/2020/03/03/calling-free-or-delete/

[2021-04-30 12:08] PhilipDeegan commented on #446
I would say, if you're not building examples or tests, these compiler things might be skipped

[2021-04-30 12:25] WanXinTao commented on #449
Can you show me your code
@matz-e

[2021-04-30 12:26] WanXinTao commented on #449
I am a server service. After loading the data, I can see from the monitoring that the memory has been continuously 1.7G
@matz-e

[2021-04-30 12:32] matz-e commented on #449
See [here](https://gist.github.com/matz-e/d5b958ba186957a208096db78ff037b1).

[2021-04-30 12:47] WanXinTao commented on #449
Sorry, I can't open this URL.
Can you send me the code picture
@matz-e

[2021-04-30 13:05] matz-e commented on #449
Seems weird…
![image](https://user-images.githubusercontent.com/2151261/116698928-410db180-a9c5-11eb-91f3-610d1dffd0ec.png)

But is this also not expected behavior? You fragment the memory space, and the OS may delay re-using the memory pages, showing a seemingly constant memory consumption. Do you observe an actual memory leak here over longer time frames?

[2021-04-30 13:35] WanXinTao commented on #449
I have been observing for 2 days, the memory has been 1.7G
What is the size of the data in your demo? Didn't your demo reappear?
@matz-e

[2021-04-30 13:50] matz-e commented on #449
About 1.2-1.3G. And I'm not sure what you mean by "Didn't your demo reappear"

[2021-04-30 13:53] WanXinTao commented on #449
What I mean is whether the memory is significantly reduced after loading the object and destroying the object

[2021-04-30 14:08] matz-e commented on #449
Yes, my memory drops with the example just like that.

But if I do the following instead:
[code]

Where I allocate a large vector after reading from HDF5, I see my memory going from basically 0 to 1.2G, then after the reserve to 1.7G where it stays.

Again, this seems to be expected behavior. Them OS assigns my process the required memory, and I use all of it to allocate HDF5 data and my numbers.

[2021-04-30 14:25] WanXinTao commented on #449
At present, the memory of my program is constant at 1.7G for 2 days
Are we using the same highfive version?
@matz-e

[2021-05-01 11:54] WanXinTao commented on #449
@ohm314
I want to get some help to solve the problem I am facing now

[2021-05-02 22:13] ohm314 commented on #449
@WanXinTao, I don't think `top` is giving you an accurate measurement of your memory usage. I am not convinced there is an issue in HDF5 or HighFive but what you are seeing is simply an artifact of how linux memory management works and how the kernel reports process memory usage. See [here](https://elinux.org/Runtime_Memory_Measurement) for example. To get a precise measurement of heap allocation

[2021-05-05 20:25] QRabbani opened #453 "Retrieve offsets of chunks within dataset"
Referring to [Retrieve offset of dataset](https://github.com/BlueBrain/HighFive/issues/87), how would one retrieve memory addresses of chunks within a (non-contiguous) chunked dataset?

[2021-05-06 08:41] JaWSnl opened #454 "Support for CompoundType in Attributes?"
(TLDR: See bottom paragraph)

I've been unable to find an example or unit test that puts compound types in attributes. Given the following example code:
[code]
What goes in the `WriteAttribute` function?

I've tried for example:
[code]
Which gives:

As provided by `H5Converter_misc.hpp`.

The same compiler error is given when I try:
[code]
Which is how I can successfully use EnumTypes that I've re

[2021-05-07 09:55] tdegeus opened #455 "More useful warning message"
I'm getting the following warning:

[code]

which is great! But it would be much more practical if the name of the dataset would be included in the message

[2021-05-09 03:31] luohao0925 opened #456 "Support for multiple dimensi"
I tried to put a two dimensions vector of string to a dataset but failed. Given the following example code:
[code]
so, I debugged and found that current version of HighFive does not support the output of two dimensions vector of string. The reason is that the  code in `H5Converter_misc.cpp` does not involve the case of two dimensions vector of string:
[code]

there is no `struct data_converter<std

[2021-05-09 04:11] #456 closed

[2021-05-09 04:18] luohao0925 opened #457 "Support of multidimensional vector of string?"
I tried to put a two dimensions vector of string to a dataset but failed. Given the following example code:
[code]
so, I debugged and found that current version of HighFive does not support the output of two dimensions vector of string. The reason is that the  code in `H5Converter_misc.cpp` does not involve the case of two dimensions vector of string:
[code]

there is not `struct data_converter<st

[2021-05-09 15:21] WanXinTao opened #458 "When I use omp to read two h5 files concurrently, an exception occurs"
![image](https://user-images.githubusercontent.com/21972225/117577675-5600e800-b11d-11eb-84fa-7940b0d06bcc.png)

When I delete omp, serial execution is normal

I want to know what is the correct way for omp to read multiple h5 files in parallel, I think the introduction of highfive is to support parallel

[2021-05-09 16:05] pramodk commented on #458
Other HighFive experts will help here but just want to point out that HighFive uses HDF5 library internally. So its worth reading HDF5 section about thread safety requirements: https://portal.hdfgroup.org/display/knowledge/Questions+about+thread-safety+and+concurrent+access

[2021-05-10 08:25] ohm314 commented on #458
HDF5 is not thread-safe. As @pramodk pointed out, HighFive uses the HDF5 library underneath, and hence using openmp (or other multithreading frameworks) to parallelize HighFive operations isn't supported.

[2021-05-11 16:26] tdegeus opened #459 "H5Easy::load_back(...) and H5Easy::load_front(...)?"
Would it make sense to implement H5Easy::load_back(...) and H5Easy::load_front(...)? This could shorten something like
[code]

[2021-05-13 03:23] WanXinTao commented on #458
If I compile a parallel HDF5, can highfive use the parallel function?

[2021-05-20 07:00] ohm314 commented on #458
Parallel HDF5 uses MPI to parallelize. While this won't give you thread-parallelism either, it is supported by HighFive. If you're looking to parallelize your HDF5 I/O, using distributed memory parallelism through HighFive with parallel HDF5 and MPI can be a viable choice, but that means that your application will have to be parallelized with MPI too.

[2021-05-21 11:35] JaWSnl opened #461 "Offset of nested compound types is incorrect"
When nesting compound types, the offset is calculated incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out https://github.com/JaWSnl/HighFive/commit/7b5ddc7daacc168bf5ea588d7fa24fc9aefb6b51
2. Run the test
3. The equality test fails because the size will be 24 bytes.
4. When opening the .h5-file in HDFView, the information is messed up (however, retrieving the data works fi

[2021-05-26 12:18] ferdonline commented on #454
We can add a test for this, but it was implemented by #450

[2021-05-26 12:20] ferdonline commented on #426
Implemented by @ohm314

[2021-05-26 12:20] #426 closed

[2021-05-26 14:40] #458 closed

[2021-05-26 21:14] alkino commented on #459
Hum I don't think we should add this kind of feature.

It will make the API more complex for something that does not look really useful.

[2021-05-27 01:49] pan3rock commented on #374
I encounter the same problem and have to use the release CMake build type to avoid it.

[2021-05-27 08:40] wajihullahbaig opened #466 "String attribute read exception"
**Describe the bug**
Read a std::string from an attribute

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
value should now contain the string attribute read from HDF file.

**Stacktrace**
[code]

Stepping into the code  further investigation seems the problem pops up from H5Attribute_misc.cpp at the following lines
[code]

**Desktop:**
 - OS: Ubuntu 20.04
 - hdf5:

[2021-05-27 08:53] alkino commented on #466
Is it fixed or variable length string?

`std::string` is for variable-length.

[2021-05-27 09:04] wajihullahbaig commented on #466
It is for variable length strings. The HDF file retain variable length strings so I am using std::string to read them.

[2021-05-27 10:54] ferdonline commented on #466
@wajihullahbaig I don't know ViTables but it seems to me these "system attributes" is an extension to hdf5. If you do a plain `h5ls -v` do you see the attributes there? HighFive can only read what's acgtually in the file, probably what ViTables calls "user"

[2021-05-27 10:56] wajihullahbaig commented on #466
I see all the attributes in a list. Just as a side check, I made a string attribute in user-attributes. The code again fails there. Possibly you are right on the extensions thing but I am not sure either.

[2021-05-27 10:57] ferdonline commented on #466
Can you show us the result of `h5ls -v` of your file?

[2021-05-27 11:00] wajihullahbaig commented on #466
I am new to HDF and stuff, any quick links I can use for the above command? Sorry for being so naive.

[2021-05-27 11:12] wajihullahbaig commented on #466
Attribute: CLASS scalar
        Type:      5-byte null-terminated UTF-8 string
        Data:  "GROUP"
    Attribute: TITLE null
        Type:      1-byte null-terminated UTF-8 string

.........

    Attribute: time scalar
        Type:      native float
        Data:  0
.........

Entities                 Group
    Attribute: CLASS scalar
        Type:      5-byte null-terminated UTF-8 string

[2021-05-27 13:11] #454 closed

[2021-05-27 13:19] tdegeus commented on #459
Probably I agree ;) Thanks for your feedback @alkino

[2021-05-27 13:20] #459 closed

[2021-05-29 09:48] tdegeus commented on #466
A naive question: we do you initialise the string. Shouldn't you do
[code]
See e.g. https://github.com/BlueBrain/HighFive/blob/5e5673d9146e55e64b07954b4aa0177a250a2ca4/include/highfive/h5easy_bits/H5Easy_scalar.hpp#L62-65

[2021-05-29 19:36] wajihullahbaig commented on #466
I should not need to initialize it. But I tried that as well. Same error I get.

[2021-05-29 19:45] wajihullahbaig commented on #466
I even tried the templated version, same error.

[2021-06-11 13:11] tdegeus commented on #445
It seems to work for me.

[2021-06-11 13:11] #445 closed

[2021-06-11 13:12] tdegeus commented on #422
The problems curiously disappeared from me. This might be due to a HDF5 and/or CMake update

[2021-06-11 13:13] tdegeus commented on #367
Duplicate: https://github.com/BlueBrain/HighFive/issues/455

[2021-06-11 13:13] #367 closed

[2021-06-11 13:15] tdegeus commented on #422
And curiously reappeared here: https://github.com/tdegeus/XDMFWrite_HighFive/pull/11

[2021-06-14 15:48] maxnoe commented on #369
@tdegeus Could you maybe change the tag from "question" to "enhancement" and adjust the title? Maybe to "Support variable length data types"?

Or should I open a new issue to track this feature request?

[2021-06-14 15:56] tdegeus commented on #369
Done @maxnoe !

[2021-06-14 15:57] maxnoe commented on #369
I assume closing was unintentional :D

[2021-06-15 10:20] maxnoe commented on #369
A first step would be to support simple variable length arrays, this is how you write one using `h5py`:

[code]

and this is how I'd like to read it using HighFive:

[code]

Which compiles but then errors with this:
[code]

[2021-06-15 10:37] maxnoe commented on #369
I am a bit lost where I could start with looking into this. If you'd give me a couple of pointers which parts of the code would need to be adapted, I'd be happy to give it a try.

[2021-06-15 13:48] ferdonline commented on #369
Hi @maxnoe. The change you propose is significant, both in potential and amount of work :) Varlen arrays are a special kind which basically, like strings, store a pointer to the actual data arrays. Therefore we can't simply read the data, we have to take care of the indirection and subtract 1 to the dimensionality (hence the error you get!)

At BlueBrain we haven't really had use cases for VarLen

[2021-06-15 15:51] maxnoe commented on #369
I suspected as much. Still, I suspect it will be less work for me to contribute here than to basically duplicate all the work again to get a nicely pybind11 wrapable C++ interface supporting variable length arrays and compound data comprising variable length arrays.

So I'll try with the simple variable length arrays first and see how far I can go.

[2021-06-17 12:34] ivan-tkatchev opened #470 "std::array is not a container"
[code]
This means that writing e.g., `std::vector<std::array<double, 10>>` currently doesn't work.

What are the downsides of supporting `std::array` in `is_container`?

Thanks.

[2021-06-17 12:38] alkino commented on #470
It's not so easy today, putting `std::array` inside `is_container` won't make it works, we should develop the classes for `std::vector<std::array>`.

There is currently (too much) long term refactoring to handle those kind of feature automatically.

Look at: https://github.com/BlueBrain/HighFive/issues/307

[2021-06-17 12:39] alkino commented on #365
It should be fixed now, in fact?

`DataSpace::From` has been rewrite. Can you test please?

[2021-06-17 13:43] xzz53 commented on #365
@alkino , `DataSpace::From` really works with `Eigen::Array` now, thanks!

Unfortunately, it looks like `DataSet::write` still doesn't support `Eigen::Array`'s, although `H5Easy::dump` does. Should I create a separate issue for that?

[2021-06-17 13:48] alkino commented on #365
no this is in the previous ticket, sorry.

[2021-06-21 21:12] #461 closed

[2021-06-25 08:09] #455 closed

[2021-06-25 12:32] ferdonline opened #472 "Documentation all-round check / improve"
We deploy docs to https://bluebrain.github.io/HighFive/
However the documentation is mostly about the API doc strings, whose visual is not too appealing.

To make HighFive more accessible it would be nice to have a very good land page, potentially based on ReadTheDocs, featuring

- How to get / install / integrate in user projects
- Design principles
- Explanation of each main entity
- Walk-though

[2021-06-30 12:17] tdegeus commented on #472
May I in this context also suggest using a nicer style for the docs. Personally I have been using https://github.com/jothepro/doxygen-awesome-css

[2021-06-30 14:09] tdegeus opened #473 "Patch release"
Since the release frequency on this repo is quite low (i.e. the code is quite stable!) :
I would like to use https://github.com/BlueBrain/HighFive/pull/471 on conda-forge. For that the nicest is to have a patch release. Could you set a reasonable milestone for such a release?

[2021-07-05 22:24] ianhinder commented on #180
The patch mentioned earlier, from https://github.com/BlueBrain/HighFive/commit/e0d88681b489a9c07386d15deb2c5d30cd3a477b, doesn't apply any more, probably due to a change to an adjacent line, and also doesn't seem to exist in any repository according to github.  I implemented the same changes in https://github.com/UoMResearchIT/HighFive/commit/050d8b971e15f29f7751de59d3f50eebab59c372, which is base

[2021-07-07 12:22] ferdonline commented on #473
You can go ahead @tdegeus having a patch release every time important patches are available.

[2021-07-08 08:14] tdegeus commented on #473
Thanks @ferdonline . I'll give it another week to give a chance to:
* https://github.com/BlueBrain/HighFive/pull/469
* https://github.com/BlueBrain/HighFive/pull/465
to be included. If not I'll prepare the release without them

[2021-07-13 20:48] alkino commented on #473
I was in holidays add 3 days and I fix the #465

[2021-07-22 20:09] JaWSnl opened #474 "fatal error C1128: number of sections exceeded object file format limit: compile with /bigobj"
**Describe the bug**
When compiling the unit tests, I receive the following error:

I recently switch to a newer MSVC version, so that might be related.
MSVC version: 16.10.1+2fd48ab73
CMake version:  3.19.20210118-g54dbc9c

**To Reproduce**
Steps to reproduce the behavior:
1. Build the unit tests

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Version: master

[2021-08-04 19:01] #473 closed

[2021-08-20 18:53] ssbotelh opened #477 "Error creating chunked dataset"
Hi there,

Thanks for the great work on this library. I am seeing this error when trying to crate a dataset with chunks of a particular size. The minimum code to reproduce is pretty simple:

[code]

This code errors out at the *createDataSet()* call:

[code]

Clearly the *"file too large"* message doesn't make sense, because my dataset is not that big. Also, I noticed that slightly increasing or d

[2021-08-27 17:09] pquan opened #478 "Using compound type in a static library and the main program"
This is probably not a bug, but my ignorance, yet I'm struggling to understand how to use a compound type between a static library and the main program.

I'm following the example in the source by declaring a function that returns the compound type as HighFive::CompoundType and associate it to the c++ class via `HIGHFIVE_REGISTER_TYPE(cpp_class, compount_type_function)

If I do this in the static

[2021-08-28 04:46] alkino commented on #478
Can you give some basics code you use?

[2021-08-28 05:03] alkino commented on #449
I close it after this last answer.
Feel free to open it again.

[2021-08-28 05:03] #449 closed

[2021-08-28 15:16] pquan commented on #478
@alkino yes, I created a proxy solution in VS2019, Windows with just 1 library as a static library project and a single main.cpp in another project and starting point.

The library is reader.h + reader.cpp

**reader.h**
[code]

**reader.cpp:**
[code]

**main.cpp** contains the program code in a separate project. Also main.cpp would like to read the compound type :)

[code]

So, main.cpp is using t

[2021-09-07 14:33] SylvainCorlay commented on #394
It seems this error is still there with Hifive v2.3.1. We are still pinning on v2.1 because of it...

[code]

[2021-09-15 11:39] #474 closed

[2021-09-15 11:42] ferdonline commented on #439
AFAIK var length non-string arrays are still not supported.

[2021-09-15 11:51] ferdonline commented on #453
In HighFive chunks are not exposed to the user. Besides this design, AFAIK there is no support for such operation in hdf5 itself. Therefore it is unlikely that we can ever provide such a functionality. In case this can be achieved with hdf5, you are still free to use it directly on the hid, which can be obtained from HighFive.

[2021-09-15 11:51] #453 closed

[2021-09-16 07:46] emmenlau opened #479 "Memory leak with HighFive::HDF5ErrMapper::ToException<HighFive::FileException>"
**Describe the bug**
We have started to run tests with address-sanitizer enabled, and there are reports of memory leaks in HighFive:
[code]

This is not the only one, there may be others too.
**To Reproduce**
Compile and link with `-fsanitize=address` in gcc or clang.

[2021-09-17 05:28] ghost opened #480 "Add support for std::byte as Dataset type"
Creating a dataset with underlying type of `std::byte` currently triggers a static assertion ("Type not supported"). This makes sense as `std::byte` is implemented as an enum rather than a scalar/numeric type. However, CPP Core Guidelines encourages the use of `std::byte` as the preferred way to refer to generic, non-character data. Does it make sense for `HighFive` to support this?

Minimal examp

[2021-09-17 06:43] alkino commented on #480
Of course, it makes sense. Do you want to try?

[2021-09-18 11:04] bitset32 commented on #480
I am willing to have a go, let's see how much damage I can do :wink:

[2021-09-20 07:41] pquan commented on #478
A problem with deriving from a base class however turned out to be that more data is inserted by the compiler in the derived class. I understand why, but the alignment of the derived class is then broken and no good data can be read from the file.

As a workaround, I had to create a single "hdf access" module in my library for doing all read/write access to the HDF files. All hdf access needs in o

[2021-09-20 07:41] #478 closed

[2021-10-02 22:14] nicojahn commented on #372
This bug was resolved during the past year. Closing issue

[2021-10-02 22:14] #372 closed

[2021-10-02 23:10] alkino commented on #372
Thanks it should be because of the rewrite of reader / writer by @ferdonline

[2021-10-20 01:00] berquist opened #482 "Support for Armadillo?"
Armadillo has been brought up once in #3.  For my own usage I've written an [interface](https://github.com/berquist/eg/blob/ec0eb38f293f6aefc55ebfc4ccd3f9ccbd92ac60/cpp/highfive/highfive_arma.hpp) that needs cleaning up but does work, though I haven't benchmarked it yet.

The annoying thing about Armadillo is dealing with the column-major layout. Their own HDF5 interface writes out as though the u

[2021-10-30 01:30] motiv-ncb commented on #369
Hello @maxnoe,

Thank you very much for your example on how to write variable length data using the c++ API, it works great, and I've used it to create some datasets I need for work. Would it be possible for you to provide a similar example on how to read that data back into std::vector<std::vector<double>> using the c++ API? In python it's very simple, but I'm having a lot of trouble finding an e

[2021-11-01 23:39] motiv-ncb commented on #369
Hello again @maxnoe,

To follow up a bit, here is what I tried. After writing your "vlen_cpp.hdf5", which works just fine, I want to read the hdf5 file and load the data back into some kind of container (doesn't really matter what for now). I tried reading the first row of the hdf5 file into various containers (array, arma::vec, Eigen::VectorXd), none of which work. The program below happily execu

[2021-11-02 07:54] motiv-ncb commented on #369
Hello again @maxnoe,

I finally figured out a way to do it:

[code]

If you know of a more efficient way that can pull out an entire row in one go (as you can see I'm looping over the elements), that would be so helpful. But I'm happy enough with this for now.

Thanks,
Nate

[2021-11-04 12:52] maxnoe commented on #439
This is a duplicate of #369

[2021-11-04 12:56] maxnoe commented on #452
I think what is meant is that a file contains a dataset of compound type and @lwpiotr wants to read all data of that dataset as bytes, i.e. a `std::vector<std::byte>` or just a `std::string` really.

[2021-11-04 13:18] alkino commented on #439
Thanks ;)

[2021-11-04 13:18] #439 closed

[2021-11-04 15:07] maxnoe commented on #369
Hi @motiv-ncb, if you want to just read everything into a `std::vector<std::vector<double>>, I came up with this:

[code]

[2021-11-04 23:00] motiv-ncb commented on #369
Thank you very much @maxnoe!

[2021-11-24 12:24] tdegeus commented on #482
I'm not interested in adding it, but would be happy to review. The H5Easy API is a good place to add this first. There are already many templates: Eigen, xtensor, ImageCV

[2021-12-01 18:04] tatatupi opened #485 "Support of item creation order manipulation in groups"
The original HDF5 API supports changing the item creation order:

[code]

I couldn't find a way to do it for the HighFive API however. I noticed some creation properties for datasets. Should there be creation properties for groups as well?

[2021-12-07 17:57] drelatgithub commented on #172
Sorry for bringing this up again, but in my opinion, the following code invokes undefined behavior when `val` (which is a `std::vector<T>`) is empty, because `val[0]` accesses a nonexistent element. Therefore, I think MSVC's behavior is not incorrect.
https://github.com/BlueBrain/HighFive/blob/04793312009943e46a917ed113446b4ab1ab5379/include/highfive/bits/H5Utils.hpp#L80-L87

I'm wondering is it p

[2021-12-07 20:17] emmenlau commented on #172
Seems reasonable?

[2021-12-07 23:23] drelatgithub commented on #172
Thank you!
On a second thought, I find that a certain change it is going to cause is when type `T` in `std::vector<T>` has a dimension known at compile-time, such as when `T` is `std::array<U, N>`. For example, if I have an empty `std::vector<std::array<int, 3>>`, after my proposed change, the data space sizes will be `{ 0, 0 }` instead of `{ 0, 3 }`. Though, strictly speaking, `{ 0, 3 }` was the

[2021-12-14 15:04] mfouesneau opened #487 "Example of reading a compound datset"
I cannot find a simple example to read into memory a multidimensional dataset. I probably missed it.

I was expecting something like

[code]

This does not work. It seems "type not supported"

I'm a bit lost. I find a lot on writing/reading single-dimensional data but not multi-dimensional.

I found this example, but the CompoundType usage is obscure
https://github.com/BlueBrain/HighFive/blob/mast

[2021-12-16 03:42] kerim371 opened #488 "Unable to write an array of compound types with `std::string`"
**Describe the bug**
I have a compound that includes `std::string`. Then I create an array (`std::vector<CompoundTypeWithString>`) and try to write. Then `HDF5` gets segmentation fault:
[code]

**To Reproduce**
Here is the example code to reproduce the problem (if you remove the second element from the array then there is no problem to run the executable):
[code]

**Expected behavior**
I expect th

[2021-12-16 16:32] kerim371 commented on #488
By the way if somebody stacks with the same problem there is a workaround: use `write_raw` instead of `write` with specified type passed as a second argument:
[code]

[2021-12-20 11:54] pramodk commented on #488
May be @ferdonline might remember about the `string` type and compound data type compatibility issues?

[2021-12-30 21:25] tomeichlersmith opened #490 "Writing containers of bools failes to compile"
**Describe the bug**
Suppose I generate a data set of `bool`s that I store in `std::vector<bool>` because the program does not know at compile time how many entries there will be. I want to save this buffer in the same way that I store other one-dimensional buffers into the output file.

**To Reproduce**
I have written a small `main` file (copied in full below) based off of the simple create datas

[2022-01-02 15:45] daisyron opened #491 "long double (a.k.a 128 bits floating point) data support"
Hi there,

I tried to use "long double" typed variables with HighFive and got rejected by the compiler.

[code]

I've the following compiler error:
[code]

As far as I understand HighFive does not support "long double" data types. Am I right?

If this is the case, is there a plan to add such a support to HighFives?

Thanks,
Ron

[2022-01-09 13:08] ihmin opened #492 "std::string is supported in struct?"
This is my simple code.

[code]

And I got error.

`Size of array type 56 != that of memory datatype 32`

How can I solve this problem?

[2022-01-11 10:48] emmenlau commented on #479
Is it possible to add address-sanitizer to the default HighFive tests? I think this could be quite valuable...

[2022-01-12 14:46] #492 closed

[2022-01-17 10:29] tdegeus commented on #491
That is what I understand from it as well. I was just searching a bit to see if HDF5 does support it. It seems yes, `H5T_NATIVE_LDOUBLE`. I would say you can just add it to `H5DataType_misc.hpp` for it to work. I would be open to add this to the library, if you are up for preparing a pull request?

[2022-01-17 10:35] tdegeus commented on #490
If I'm not mistaken this is the limitation of `std::vector<bool>` that is a limited specialisation of `std::vector` : https://en.cppreference.com/w/cpp/container/vector_bool

Other `bool` containers (Eigen or xtensor) will probably work. As to if `std::vector<bool>` could be make to work, I don't really know, I spent to few time around the `std::vector<bool>` limitation.

[2022-01-17 10:39] tdegeus commented on #487
Your question is a bit vague to me. If your question is: can I read a multidimensional array, the answer is yes: you can read `vector` of `vector` etc., or use a continuous container like Eigen (2d) or xtensor (nd) using `H5Easy`. You could then map your datatype to it, or simply copy relevant data.

"compound" data to me refers more to a multitude of datatypes, which is I'm afraid not something t

[2022-01-17 10:43] tdegeus commented on #485
As far as I know it is not possible, but this might be a statement out of ignorance.

[2022-01-17 11:08] mfouesneau commented on #487
"compound" data is the compound type from the HighFive library, which is supposed to read mixtures of datatypes.

[2022-01-17 11:11] tdegeus commented on #487
Alright, I was simply not sure as you were mentioning multi-dimensional.

The example is a bit more extended than you present here. In particular it provides a method to HighFive how to interpret. I think that your question should include a try for it, then one can build/debug from there

[2022-01-17 13:34] tomeichlersmith commented on #490
I was able to get a `std::vector<bool>` operational by doing a translation step. In C++17, this is as simple as using a [`if constepxr`](https://en.cppreference.com/w/cpp/language/if) within my read/writing code. I could imagine something similar occurring within HighFive; however, it is a pretty crappy solution.

My program is working for now, so this isn't a bit deal; however, it could be a smal

[2022-01-17 13:53] tdegeus commented on #490
Thanks. It seems that you copy to a temporary right?
I was ambitiously going to say that there might be one-liners, but that I cannot figure out.

I'm not against having some SFINAE to catch this case (rather in favour: it simplifies things for the user).
The 'issue' with providing it is, in my opinion, that it suggests to do something that it does not do: directly saving the `bool`s. So the user

[2022-01-17 14:00] tomeichlersmith commented on #490
Yes, that is the hacky solution I've used and it works fine for our purposes.

The other solution that I've played around with is to implement a translation to a boolean enum that is what is stored in the file (this is what [h5py does](https://docs.h5py.org/en/stable/faq.html#what-datatypes-are-supported)); however, this still doesn't resolve the issue of "surprising" the user with a difference be

[2022-01-17 14:40] tatatupi commented on #485
I believe you are right. I was testing these HDF5 creation orders as well, and they did not work as expected. I will be ordering my data externally. No problem.

Thanks though!

[2022-01-21 10:32] vakokako opened #493 "Add a link to the documentation in README.md"
It would be nice to have a link to the documentation in the README.md, since since it's not so obvious that the link in the `About` on the top is leading to the documentation. Thanks in advance)

[2022-01-21 10:53] alkino opened #496 "Add a test for all types"
Currently, we don't have a basic, simple all types tests.

We should add one.

[2022-01-21 10:55] #493 closed

[2022-01-21 12:55] #491 closed

[2022-01-27 14:53] tomeichlersmith commented on #490
**Update** I've found a better method which is still a mostly hacky solution, but it persists the type that the user intends.

The basic idea is to copy the `std::vector<bool>` buffer into a `std::unique_ptr<bool[]>` buffer, then use the read/write "raw" methods which accept an array pointer and the data type. [Array-type unique pointers have been available since C++11](https://en.cppreference.com

[2022-01-27 15:26] tdegeus commented on #490
I see. This is indeed better I think as it writes `bool`s as `bool`s (unlike you previous solution).

When I was just searching, I found lots of complaints about `std::vector<bool>` but very few standard workarounds. I'm just wondering: they should exist right? Many people have presumable encountered this?

[2022-01-27 15:36] tomeichlersmith commented on #490
My understanding is that each compiler is [free to implement a memory-efficient specialization of `std::vector<bool>`](https://en.cppreference.com/w/cpp/container/vector_bool) and so the standard sets a lot fewer requirements upon it. I think our use case for `std::vector<bool>` as an interface to eventual serialization is a special one - many use cases desire a much more memory efficient implemen

[2022-02-03 16:31] mdimura opened #501 "Low performance when writing one item at a time"
I'm writing to an extensible dataset, and if I write one record at a time, the performance is 2-3 orders of magnitude lower, than chunk-sized writes. I can manually buffer writes to a std::vector<record_t>, but I was wondering if there is a better way. I tried Caching(), but the effect on performance was minimal.

[code]
[code]

P.S. The library is great, thank you for developing it!

[2022-02-06 14:46] mdimura opened #503 "Compound types with fixed-lengths strings of certain size cause exception"
I have a `CompoundType` with `char[]` member `str`. `char str[12]` causes an exception, but behavior changes for other string sizes:
[code]
`str_size = 12` - exception:
[code]
`str_size = 8` - no exception, but the strings are truncated:
[code]
Without the `int x = 42;` everything works fine with `str_size = 12`:
[code]
For `str_size = 8` without `int`, I get an exception.

It seems, this is cause

[2022-02-07 16:15] ohm314 commented on #501
Hi @mdimura
I think what you're describing seems fairly typical and expected. passing into the HighFive (and thus hdf5lib) one record at a time will always be much slower than sending in a whole array to write at once. To be clear, I think the bad performance comes from hdf5lib itself (and even that is not something I would blame them for since you are asking to write one record at a time).

I don

[2022-02-08 19:43] mdimura opened #504 "EnumType<> inside a CompoundType causes segfault"
I created and registered a trivial EnumType and a Compound type with this EnumType. When I try to create the dataset - I get a segfault.

[code]

**Stacktrace**
[code]
Variables (stack content) at `H5Node_traits_misc.hpp:44`:

[code]

 - Version: 2.3.1
 - OS: arch linux
 - GCC 11.1.0, C++20

[2022-02-23 04:54] JATC1024 opened #505 "Cast fixed-length string -> `std::string` missing"
**Is your feature request related to a problem? Please describe.**
H5Easy.load cannot load fixed length strings. I always get the error `Can't output std::string as fixed-length. Use raw arrays or FixedLenStringArray`. I tried to use `HighFive::FixedLenStringArray<N>` and it worked. However, I had to know the length of the strings beforehand since N must be a constant. This does not seem viable to

[2022-02-23 05:43] JATC1024 commented on #94
Is there any updates on this?

[2022-02-23 07:28] pramodk commented on #94
Any examples added in #277 help you @JATC1024 ?

[2022-02-23 07:38] JATC1024 commented on #94
Thanks for responding @pramodk
I can read fixed-length strings using something like
[code]

However, based on what I understand, N must be a constant at compile time. Since I want to do this automatically for many different datasets, I cannot fix N as a constant literal.

Are there any cheat sheets about loading variable-length and fixed-length strings arrays? I am trying to do something like:
[co

[2022-02-23 11:10] ferdonline commented on #505
Hey.
Your request is understandable but I believe HighFive already implements the required API.
Have you tried along the lines? (not tested):
[code]

[2022-02-23 11:18] JATC1024 commented on #505
Thanks for replying. I think my comment here best describes my problem: https://github.com/BlueBrain/HighFive/issues/94#issuecomment-1048514871.

Looking through the [document](https://bluebrain.github.io/HighFive/class_high_five_1_1_fixed_len_string_array.html#a93e3229e9a807bf171cbbaa8064cceb6), I cannot find a way to construct `FixedLenStringArray` without knowing `N` beforehand. Did I miss some

[2022-02-23 11:28] JATC1024 commented on #505
I think the problem here is that `FixedLenStringArray<N>` is a `std::vector<std::array<T, N>>` in disguise, which requires knowing `N` in compile time.

Therefore,
[code]
works but
[code]
doesn't.

[2022-02-23 11:32] ferdonline commented on #505
Oh, I'm sorry I overlooked the fact that the signature of FixedLenStringArray is `FixedLenStringArray<N>`, then N must be known at compile time.
I find your use case valid. There are plans to create a replacement of `FixedLenStringArray` but unfortunately our bandwidth is limited. If you feel comfortable to draft a solution, along the lines of using regular std::vector with `std::string_view` but

[2022-02-23 12:01] JATC1024 commented on #505
I'll try to look into this in my free time. For now, I will simply set `N` as a big enough integer.

[2022-02-23 14:12] tdegeus commented on #505
@JATC1024 You probably have a good reason to do what you do. Still, `std::string` may not be fixed-size, but is still pretty 'easy':
[code]

Also, unlike @ferdonline I'm not super sure that a 'fixed-size' string object that is dynamically allocated is relevant. Wouldn't that we `std::string` that you `reserve` to a certain size? Also this you can do currently (though not in `H5Easy` but in `HighFi

[2022-02-23 15:05] JATC1024 commented on #505
@tdegeus
Oh I think I didn't describe the problem properly. I want to load an array of strings, not just a single string. What I'm trying to do is:
[code]
For variable-length strings, this works. For fixed-length strings, it shows the error `Can't output std::string as fixed-length. Use raw arrays or FixedLenStringArray`.

Or are you suggesting that I cant load each string in the array individuall

[2022-02-23 15:21] tdegeus commented on #505
Thanks for the clarification @JATC1024 . This makes a lot of sense. I should say that I'm not at all an expert on HDF5 fixed-length strings. That being said, I see no reason why `HighFive` should not provide a method to load strings that are stored as fixed-length to `std::string`. I think that this should be implemented in the 'core' for `std::string` types. In that case it should be automaticall

[2022-02-28 06:37] luohao0925 opened #506 "How to create node-dependent group or dataset parallelly for parallel file systems.?"
I want to create node-dependent group or dataset using the parallel HDF5. However, the example is not provided in `src/examples`. So, I would like to know if this feature is supported and how to use it. Thank you!

[2022-02-28 08:51] matz-e commented on #506
Do you have a few more details about what you are trying to do?

If you open one file across several processes, IIRC, all processes have to create the structure of the HDF5 file together. See also the comment on top of here: https://portal.hdfgroup.org/pages/viewpage.action?pageId=48809645

Hope this helps?

[2022-02-28 09:13] luohao0925 commented on #506
The comment really helps! Thank you very much!

[2022-03-01 06:45] luohao0925 commented on #506
When I follow the comment on the link and run the following code
[code]
It did create  n datasets, where n is the number of processes in the communicator. However, the data in some dataset seems to be uncorrect! The data in dataset a4 is expected to be 4 instead 1. I don't know how this happens.
![dataset](https://user-images.githubusercontent.com/52783667/156118355-4a38c8ff-0f44-457e-98d7-4188701

[2022-03-01 07:43] luohao0925 commented on #506
I tried to add a judgement after creating a dataset, like
[code]
it seems to work. I want to know whether my approach is desirable!

I also found out that when the data to be written in dataset in different process has different length, the code will get stuck, for examples:
[code]

[2022-03-01 12:08] sergiorg-hpc commented on #506
Nice to meet you @luohao0925 and great work! Just to clarify and adding to @matz-e's comments, I believe that using multiple processes on a shared file can lead to file consistency issues, so as a rule of thumb, be always extremely careful. For instance, the following snippet from your example could lead to deadlocks when you set `H5FD_MPIO_COLLECTIVE` in the file property list:

[code]

If I'm no

[2022-03-02 13:08] pramodk commented on #482
@berquist: if you have working draft, please open a pull request and someone from our side would be happy to review and provide feedback. Thanks in advance!

[2022-03-02 13:12] #482 closed, assigned to nobody

[2022-03-02 14:40] mfouesneau commented on #487
I solved my issue. What was very unclear was all the steps and individual definitions

It requires a structure with all row elements and the data table structure function.

[code]

However I do use the `HIGHFIVE_REGISTER_TYPE(filter_t, create_compound_filter_t)`. Initially, a piece I forgot, I could not understand what additional information this generates.

[2022-03-04 14:13] 1uc opened #508 "Remove cyclic dependencies of includes."
When looking at the dependency graph of the `H5Easy.hpp` one sees several cyclic dependencies and it's not very obvious what needs what. By lifting the declaration in the namespace `H5Easy` into a separate file, the dependencies can be simplified and made acyclic.

This change might affect how template specializations are imported. Therefore, I like to ask if such a change would be welcome and wor

[2022-03-07 13:15] 1uc commented on #508
The change leads to a situation where if one looks at the new dependency graph of the files, which is displayed in the Doxygen documentation, e.g. [1], to me it is more clear how the code is organized, i.e. what to expect in which file.

[1]: https://bluebrain.github.io/HighFive/_h5_easy_8hpp.html

The top-level file `H5Easy.hpp` now clearly includes numerous files that are suffixed by external de

[2022-03-07 13:54] tdegeus commented on #508
Thanks. I see now at which problem this addresses, and how making changes can invite additions. A couple of discussion points:

My idea behind the `H5Easy.hpp` as it is, is that at least there is at least one clear point where all the definitions are. So if one looks at the the source one would find everything relevant to the public API in one place. Instead, https://github.com/BlueBrain/HighFive/

[2022-03-07 14:17] 1uc commented on #508
That's indeed a draw back. I don't know how two achieve both. Therefore, if consistency with the rest of `HighFive` is more valuable, we can close both #508 and #509. Please feel free to do so, since you're more familiar with `H5Easy` than me.

Exactly, either as nicely as you suggest or unofficially by putting the user in a position where including the bits files is possible, but (presumably) at

[2022-03-08 13:50] tdegeus commented on #508
I would then be an even more flexible public API!

[2022-03-09 16:44] matz-e commented on #268
Sorry for letting this sit here so long!

Are you using the HDF5 library with the thead-safety feature compiled in?

See  https://docs.hdfgroup.org/hdf5/v1_12/_m_t.html and the older document of https://support.hdfgroup.org/HDF5/faq/threadsafe.html

The latter suggests that HDF5's multithreading support boils down to the equivalent of using an OpenMP critical section. To achieve full parallelism,

[2022-03-09 16:47] matz-e opened #510 "Use Catch2 for unit testing"
I think it may be worthwhile switching to Catch2 for unit testing, as many of our newer projects have done. In the past, I've experienced bad linking issues with Boost's unit tests with the same code paths but different operating systems.

This would also allow us to make Boost fully optional and maybe even disable it by default.

[2022-03-12 10:29] tdegeus commented on #510
Sounds great. I would be in strong favour for making boost by default optional! It is really not something the project depends on, and might discourage use.

[2022-03-14 07:53] 1uc commented on #508
Sorry for the delay. Personally, my productivity drops when compile times are too high. I've had this problem in my own codes and since try to enable, optionally, including less.

The structure of the includes you propose feels natural. I'll try if there are any nasty issues, e.g. one compilation unit only includes the specializations for `xtensor` and the other only for `eigen`.

[2022-03-17 08:16] cbyrohl opened #515 "Commit #500 breaks code using ExternalProject_Add(): "... first defined here""
**Describe the bug**
Since commit #500 compilation of my code that uses HighFive fails on linking, with multiple definitions of `HighFive::Group::getEstimatedLinkInfo()`, `HighFive::File::getMetadataBlockSize()` and  `HighFive::File::getVersionBounds()`. Seems like the inline specifier is missing?

**To Reproduce**
I fetch HighFive via
[code]

**Expected behavior**
The code should compile and link

[2022-03-17 09:10] #515 closed

[2022-03-17 16:11] JATC1024 commented on #505
@tdegeus sure, whatever way you see fit. If you create a new one then I think we can close this one.

[2022-03-22 20:05] ChrisDeGrendele opened #520 "Compound types aren't working"
**Describe the bug**
Hello!

I'm having trouble getting compound types working and then I tried running the example/compound_types.cpp and I got the same error. I'm not sure what's going on here? I only used `AtomicType<double>` as in the example and this is a supported type as seen here [(inline AtomicType<double>::AtomicType())](https://github.com/BlueBrain/HighFive/blob/00dad7172c2163c96448a6e5

[2022-03-24 08:46] 1uc commented on #508
I'm unable to improve the code organization in such a way that the declarations of the API remain in the `H5Easy.h` while supporting the desired functionality. Since this issue suggests a particular reorganization of files, I propose to close this issue.

[2022-03-24 08:46] #508 closed

[2022-03-27 22:40] emanmoba opened #524 "Inconsistent character encoding"
**HighFive uses H5T_CSET_ASCII for character encoding everywhere except in function create_string(size_t length) inside H5DataType_misc.hpp whereH5T_CSET_UTF8 is used as a default encoder. **

This might lead to some inconsistencies.

[2022-03-28 06:47] sergiorg-hpc commented on #524
Thanks for the report, @emanmoba. As far as I can remember, string handling in HDF5 is a bit inconsistent and maybe this is something that was introduced to overcome certain limitations. For instance, for your own and my colleagues' reference, we found a bug in the HDF5 library not so long ago and provided temporary patches in HighFive to hide the issue:

https://github.com/BlueBrain/HighFive/pull

[2022-03-28 12:26] #510 closed

[2022-03-28 12:43] tdegeus commented on #510
I wonder if the Boost default in the CMake target should in term not change

[2022-03-28 12:51] matz-e commented on #510
Yes. That seems a bit more invasive, so I did not want to put that in here yet.

[2022-03-28 12:57] tdegeus commented on #510
I can imagine. But I think this should at some point be done, I really dislike this enforced default with a bit clumsy way to turn it off. At some point I proposed to have modular targets in parallel.

[2022-03-30 12:20] sergiorg-hpc commented on #524
@emanmoba We have had a discussion today in our internal HighFive meeting and our colleague @1uc is going to look at it, as soon as he is done with an on-going work in HighFive, ok? Thanks again for the report and we will update the issue as soon as @1uc finds out more.

[2022-03-31 09:51] 1uc opened #532 "Writing `Eigen::MatrixXd` as column major."
I've created a PR for adding an example which writes an `Eigen::MatrixXd`, see #531. It's supposed to create a matrix
[code]
This matrix is then written to file. When dumping the resulting file I get
[code]
Which is consistent with HDF5 assuming data is row-major (C-style) and the actual Eigen matrix being column-major (Fortran/BLAS-style). I couldn't immediately find any code that transposes the

[2022-04-06 09:22] tdegeus commented on #532
Thanks for pointing this out!
I would say that this is not desired. As for as I know HDF5 in row-major and the data should be presented as such. Writing column-major and row-major and then reinterpreting it falsely to correct for it does not make any sense to me. What if you were to read it in with let's say `h5py`? Then everything would be mixed up!

What I do in H5Easy is to cast to row-major be

[2022-04-06 09:36] matz-e commented on #532
Casting it like that seems like a good idea (element of least surprise)! Should this be unified / lifted to "core" to avoid duplication? And would it be wise to make it an option to throw an error / assert if a type conversion happens?

Thinking of bigger matrices that one wouldn't really want to store in memory multiple times.

[2022-04-06 12:21] emmenlau opened #550 "Test group properties aborted with Assertion `mesg->raw_size < 65536'"
**Describe the bug**
I've compiled HighFive 2.4.0 against hdf5 1.13.1 on Ubuntu 20.04 x86_64 with Clang 14.0.1. I can run almost all tests successfully except the "Test group properties". It fails with error:
[code]

In the corresponding log, I find the output:
[code]

[2022-04-06 12:57] alkino commented on #504
You don't pass the right type when creating the compound type.

I fix your code by doing:
[code]

Instead of:
[code]

[2022-04-06 13:19] mdimura commented on #504
It works now, thank you very much! I guess a compiler warning/error could be useful here. Is there any eligible usage for `EnumType<State>{}`? Alternatively could we add an assert for `CompoundType::member_def.base_type != EnumType<T>{}`?

[2022-04-06 13:21] alkino commented on #504
`EnumType<State>{}` is a creation of new enum based on the underlying type of State with no members insides (that looks invalid inside hdf5).

Yes we need to add an error there, maybe on a empty list inside the ctor of EnumType.

Could you clarify your last question?

[2022-04-06 13:32] mdimura commented on #504
An error on an empty list inside the ctor of EnumType sounds great.
The second question/idea was to add an error in the ctor of `CompoundType::member_def` if `base_type == EnumType<T>{}`, but this is not necessary if the the check can be added to the ctor of EnumType.

[2022-04-06 13:36] alkino commented on #504
btw, the more idiomatic way to write your code is
[code]

Something that does not exists but could be interesting to have is:
[code]

The `HIGHFIVE_REGISTER_TYPE` only create the matching `create_datatype<T>`

[2022-04-06 13:45] tdegeus commented on #532
@matz-e I must admit that casting was in part laziness that we can fix if we fix `Eigen` in the core. If we want to do thing nicely memory efficient we have to just use strides and write item-by-item in a loop

[2022-04-06 13:50] matz-e commented on #550
@emmenlau thank you for the report!

I'm having some issues reproducing it. On my Ubuntu 20.04, I installed the latest LLVM 14.0.1 from their website, as well as a CMake buildable HDF5 labelled 1.13.1, yet all my tests pass. Would you be able to elaborate how you install HDF5?

[2022-04-06 15:28] alkino commented on #504
I leave it here in case someone is crazy enough to put it inside HighFive:
[code]

[2022-04-06 16:26] emanmoba opened #553 "Overwriting a dataSet using createDataSet"
I am using HighFive to write the output and restart files of my simulations. For steady-state problems, the intermediate solutions are written at some given time intervals so that the simulation can be resumed if there are any interruptions during the run. However, I want to keep only one intermediate solution at a time and get rid of the older ones. There might be already a similar solution to th

[2022-04-07 06:29] #504 closed

[2022-04-07 06:32] alkino commented on #520
I'm sorry, but it works for me.
Can you try with the last version?

Or otherwise give us a backtrace?

[2022-04-07 06:33] alkino commented on #503
I will give a look, maybe something gone wrong in our computation of compound type size.

[2022-04-07 12:52] matz-e commented on #550
OK, I was finally able to reproduce your error, with a release of Clang from their Github release page (14.0.0), as well as my 14.0.1 from the apt repos, as well as HDF5 with automake (I was using their CMake release before).

[2022-04-07 13:02] evanberkowitz opened #557 "Support for libtorch tensors"
**Is your feature request related to a problem? Please describe.**
I have a C++ library built on top of libtorch.  I would like to use HighFive to provide an hdf5 interface.  However, the dimension of a torch tensor is determined at runtime, so converting to (for example) an `std::vector` of `std::vector` of ... of (say) `complex<double>`s, which would need to be done at compile time, is not possi

[2022-04-07 14:38] 1uc commented on #557
The interface `H5Easy` supports the library `xtensor`; and from what I can gather from the example and source code should be able to read/write `xarray`s which look to be essentially a pointer with a shape whose dimensions can be changed at runtime. They seem to also have views. There's an example here:
https://github.com/BlueBrain/HighFive/blob/master/include/highfive/h5easy_bits/H5Easy_xtensor.h

[2022-04-07 14:50] matz-e commented on #550
I boiled it down a bunch more… also hit this with GCC 11, no extra steps:
[code]
fails when compiled like:
[code]

On the other hand, my "translated" native HDF5:
[code]
seems to be fine:
[code]

[2022-04-07 16:02] alamj opened #560 "Unable to read hdf5 files"
I get the following error while attempting to read a file, which was written in parallel (n x m matrix, m is large). Inside the writing loop, I can read the written file. I can read the file from python h5py.

I need to read file from a separate (user) code (sequential for now). To reproduce the error, I used the following code:
Here, example.h5 was created by a HighFive example code. I got a very

[2022-04-08 09:41] tdegeus commented on #560
Just from the look of it your path is not pointing to a dataset, but rather to a group (at best). Note that is in the path *inside* the HDF5 file, not that *of* the HDF5 file

[2022-04-08 10:57] matz-e commented on #550
So, I had the wrong flags for gcc…
[code]
Is a minimal version that works. Changing `64` to `65` here:
[code]
Will spit out exactly the same message.

The documentation [here](https://docs.hdfgroup.org/hdf5/develop/group___g_c_p_l.html#gaa8571642d45e73ab5a9ae71cf00501f9) states:

So this very much smells like an HDF5 bug to me. I've opened a question in their forum: https://forum.hdfgroup.org/t/h5

[2022-04-10 05:14] alkino commented on #503
I wonder if before checking the size of a compound datatype we should pack it or only resize to remove useless space after last element.

[2022-04-12 09:00] alkino commented on #208
It looks that this kind of problem is not about HighFive but about the configuration of your environment.
At a time you should generate a program database? https://docs.microsoft.com/en-us/cpp/build/reference/pdb-use-program-database?view=msvc-170

as other I don't know microsoft env so much.

[2022-04-12 14:15] alkino commented on #560
I wonder if those kind of issues should go on xtensor-io github

[2022-04-12 14:20] tdegeus commented on #560
They should ;)
But I'd rather that @alamj simply switches to H5Easy which started as an upstream port of xtensor-io.
Please checkout https://github.com/BlueBrain/HighFive/blob/2cb795962a5c00021f28d4d2cb9b05bdbbd147d8/src/examples/easy_load_dump.cpp#L94

[2022-04-12 14:57] tdegeus opened #563 "Rename `master` to `main`"
Has the time come that we should make the change `master` -> `main`? It's starting to become one a few projects I participate on that is still on `master`

[2022-04-12 20:19] alkino commented on #550
Cross link: https://github.com/HDFGroup/hdf5/issues/1632

[2022-04-12 20:28] mdimura commented on #503
@alkino Thank you for your patch! I tested it today, and I still have some issues, unfortunately. Here are my results:
[code]

[2022-04-12 22:02] alamj commented on #560
The same error thrown by (using easy_load_dump.cpp)

E = H5Easy::load<xt::xtensor<size_t, 1>>(file, "/home/alamj/TestCases/tests/hdf5of");

Am I missing something?

[2022-04-13 07:23] alkino commented on #443
We need to take care of new problems

[2022-04-13 08:08] tdegeus commented on #560
I have the impression that the underlying problem is still the same. I feel that you are misinterpreting file paths and paths inside the HDF5 file. Note that an HDF5 file is like a file system inside a file system.

In order to help you you should also post the code where you write the `file` (and the code on how you open it)

[2022-04-13 11:36] alkino commented on #563
Under BlueBrain organization we haven't still make transition from `master` to `main`, so we prefer to keep it with `master`, for now.

[2022-04-13 11:41] alkino opened #566 "Add documentation to add specialization for new user types"
Add a paragraph for explaining how to do with raw pointers, if data are continuous.

[2022-04-13 11:51] alkino commented on #553
It is not implemented yet, we should design an API for that.

If you want to give a try, feel free, we can help you once you make a PR.

[2022-04-27 10:25] keichi commented on #180
Seems like this issue is finally resolved in CUDA 11.6 and GCC 9.

[2022-04-27 10:40] pramodk commented on #180
I was skimming through the discussion and mentioned PR but couldn't find instructions/example to reproduce the original issue.

If someone could mention how this should be tested/reproduced, someone from dev team would be happy to take a look.

[2022-04-27 11:50] alkino commented on #560
I think we can close it because the user seems gone

[2022-04-27 12:13] #560 closed

[2022-04-27 12:15] tdegeus commented on #553
I think that H5Easy can already do this. Note though, unless that dataset was allocated extendable the data has to have the exact shape shape.

[2022-04-27 12:37] matz-e commented on #553
This is smart and should be kept for any implementation. Otherwise, I'd be concerned about growing files unintentionally.

[2022-04-27 12:46] tdegeus commented on #553
I think that there is even no otherwise ;). HDF5 cannot delete data as it cannot reorder like your memory can. So

* Overwriting the exact bits is fine.
* Datasets allocated as chunked can grow (not shrink, or at least not really, it will not release bits, but might reuse them if you re-expand).

So if you want to overwrite an arbitrary dataset you'd have to release the link between the name and t

[2022-04-27 12:55] matz-e commented on #553
Should also match the datatype, no?

[2022-04-27 12:56] tdegeus commented on #553
Yes!

[2022-05-04 09:08] 1uc opened #575 "Assignment of file access properties"
When doing something like this with `master` (02f3d075a5f3444b08):
[code]

I get
[code]

[2022-05-04 11:19] MarkBicknellONT opened #577 "Compile error with Visual Studio 2017 when using c++17 or later"
Hello,

If I build master with cmake Visual Studio 15 2017 generator arch x64 on windows 10, the examples build fine.
If I change the C++ language standard to c++17 (or later) in the Visual Studio UI (Configuration Properties -> C/C++ -> Language -> C++ Language Standard) and then try to rebuild, I get the following error:

[code]

It seems that adding `PathTraits` as a friend class of `Object` fi

[2022-05-04 12:16] #575 closed

[2022-05-13 08:21] luohao0925 commented on #506
I met another problem! When I tried to create node-dependent group, it failed. The following code is expected to create two groups "g1 and g2" when two processes are utilized:
[code]
<img width="235" alt="截屏2022-05-13 16 20 39" src="https://user-images.githubusercontent.com/52783667/168242043-33fd3f2a-d8cb-4380-b9d4-50fd4b478ec6.png">

[2022-05-18 08:38] #577 closed

[2022-05-20 22:59] alkino commented on #503
More on that (sorry for the delay).

We compute `Record<8>` as:
- double (8)
- int (4)
- padding (4)
- char* (8)

And gdb tell us:
[code]

And so no internal padding

[2022-05-21 00:56] alkino commented on #503
I think that... https://github.com/BlueBrain/HighFive/pull/581 fix it.

[2022-05-25 09:18] alkino commented on #479
I rerun all tests with sanitizer and can found only this one.
Fixed in #582

[2022-05-25 09:24] #503 closed

[2022-05-25 09:37] alkino commented on #368
In fact we fix the last minor version to support 1.8, if you still have problem, reopen the ticket

[2022-05-25 09:37] #368 closed

[2022-05-25 09:39] alkino commented on #338
Seems fixed by last cmake fixes. If it still occurs reopen it.

[2022-05-25 09:39] #338 closed

[2022-05-25 09:46] alkino commented on #77
I hope, you stop to wait for that, but hey, now it will be there!

[2022-05-25 11:51] #77 closed

[2022-05-25 11:51] #479 closed

[2022-05-26 18:36] ssbotelh opened #585 "Support for single-precision floating point datasets"
Hi there,

 Does HighFive support the creation of single-precision (16-bit) floating points datasets?
 In h5py this can be done trivially, as in:

[code]

so I doubt this isn't supported by HighFive, but I couldn't find any documentation or example. Any help will be greatly appreciated. Thanks!

[2022-05-26 19:50] matz-e commented on #585
Is there support for this in the underlying HDF5 library? I don't see a 16-bit float here: https://portal.hdfgroup.org/display/HDF5/Datatype+Basics#DatatypeBasics-predefined

I suppose one could define a custom datatype and use that to store the data. I'm not sure what `h5py` does.

[2022-05-29 21:25] alkino commented on #470
Support added by #586

[2022-05-29 21:29] alkino commented on #457
Support will be added by #586

[2022-05-29 21:32] alkino commented on #256
Should be fixed by #586

[2022-05-29 21:32] alkino commented on #307
Should be finish with #586

[2022-05-30 06:22] ssbotelh commented on #585
Hi @matz-e,

I figured out how to add support for half-precision floating-point datasets. I used the `half` library to provide an implementation of a 16-bit float type (see http://half.sourceforge.net/index.html). Then I specialized the `AtomicType` constructor for that type, similar to what's done in `H5DataType_misc.hpp`, but using `H5Tset` APIs to set sizes and offsets for the floating-point bi

[2022-05-30 07:12] matz-e commented on #585
Hi @ssbotelh, sorry for the slow follow-up, I'm currently traveling. Thanks for the example, I was in fact thinking more about MPI datatypes 🤦, noted the datatype modifications when playing with your example.

This would be great for a PR. The dependency on `half` would have to be optional, just like Boost / Eigen. If you would be willing to create a PR, that would be awesome!

Many thanks!

[2022-05-31 03:29] ssbotelh commented on #585
Sounds good, thanks. I'll work on a PR for this.

[2022-06-04 23:46] ssbotelh commented on #585
Hi @matz-e , I just submitted a PR for this. Let me know if any questions or requests. Thanks!

[2022-06-08 19:24] nickanthony-dgl opened #589 "Eigen::ArrayXX<Eigen::ArrayX<double>> to 3D dataset"
This is more of help request than a bug report. If there is a better place for me to ask this question please let me know.

I have various 3-dimensional images which I would like to save to HDF. They are stored as 2D Eigen arrays of 1D arrays. For example, in one case I have an RGB image which is stored as `Eigen::ArrayXX<Eigen::Array3d>`. If I try to pass one of these arrays to HighFive I get `st

[2022-06-08 20:07] nickanthony-dgl commented on #589
Thanks @1uc . I'll keep an eye on #586 and plan to revisit this once it has been merged.

[2022-06-08 20:07] #589 closed

[2022-06-10 17:39] antonysigma opened #590 "Writing pre-compressed data to chunks with H5Dwrite_chunk"
https://github.com/ess-dmsc/h5cpp/pull/424/files#diff-4bef1fa82b9bea1e0737f93a6bf87fd664c77ccc04a46d4d1a72f3cc27e4afa0R700

**Is your feature request related to a problem? Please describe.**
I wish to write a pre-compressed chunk of data to the corresponding chunk location of a HDF5 dataset. The corresponding low-level API is `H5Dwrite_chunk` for `libhdf5 >= 1.10.3`, or `H5DOWrite_chunk` for `libh

[2022-06-10 17:44] alkino commented on #590
You can get `hid_t` from any object by calling `.getId()` on it: https://bluebrain.github.io/HighFive/class_high_five_1_1_object.html#a0efb623a7ceb36777ce81e215995a3bc

I will consider your request.

[2022-06-15 18:37] antonysigma commented on #590
Thanks @alkino for the tips. Here's the minimal working example, for record keeping purpose:

[code]

[2022-06-16 15:18] #256 closed

[2022-06-16 15:18] #307 closed

[2022-06-16 15:18] #457 closed

[2022-06-16 15:18] #470 closed

[2022-06-23 07:30] ulfllorenz commented on #325
AFAIK This is not surprising. The minimum version tells CMake to behave like this version. If you tried to use advanced features introduced in, say, 3.6 with a minimum version set to 3.1, CMake should fail, for example.

[2022-06-23 08:54] ulfllorenz opened #593 "Installed package is noisy when found by CMake"
This issue is more annoying than a problem, but should also be easy to fix.

In CMake, you can give the QUIET option to find_package() to suppress output. We use that to keep our CMake build free from informative, but (for our developers largely) useless messages.

HighFive is one of the few exceptions, it always prints the line with "(Re)Detecting Highfive dependencies". The generic way would be

[2022-06-28 13:48] alkino opened #594 "Add support of xtensor inside core"
Now that we have the new inspector system we can easily add support for new containers.

Xtensor have been added only in h5easy and so it does not work with core functions.

Add support of xtensor in core and clean h5easy code!

[2022-06-28 13:53] alkino commented on #396
Fixed by#396, thanks for all!

[2022-06-28 13:53] #396 closed

[2022-06-28 13:56] alkino commented on #520
I'm closing this as we changed the type system and we didn't reproduce the problem. If you are still facing it, feel free to open again this issue.

[2022-06-28 13:56] #520 closed

[2022-06-28 14:01] alkino commented on #369
Hey, due to the new type system, I'm looking back to this error.

What will be the HighFive public API to write such vlen vector?

Regards

[2022-06-28 14:01] WanXinTao commented on #369
您好，感谢您给我来信，您的邮件我已收到。Thanks

[2022-06-28 14:22] alkino commented on #452
So you can get the size of data and call `read` function with `T*` as parameter.
This object need to be of the right size.

[code]

Should work as expected!

[2022-06-28 14:24] alkino commented on #466
As we don't reproduce and there is no news, let's close. If the problem still occur on your side. Feel free to open it again.

[2022-06-28 14:24] #466 closed

[2022-06-28 15:57] alkino commented on #358
If I understand correctly as hdf-5 does not really support parallel you should chunk your dataset and give one chunk to each thread.

[2022-06-28 17:36] 1uc commented on #358
There's a few parts to getting it to work. I can give you a rough overview:

- You'll want to use the parallel driver (MPI-IO), which affects how you open the file.
- You need to pay attention to which operations need to happen collectively (in the MPI sense of the word) meaning some operations such as creating a dataset, need to be performed by all MPI ranks together to ensure that all MPI ranks

[2022-07-01 09:18] jamesbrownnz opened #595 "Write xtensor array directly to h5 dataset"
I would like to be able to write an xarray/xtensor/xtensor_fixed directly to a dataset.

Currently, I get the following error:
`error C2338: static_assert failed: 'supported datatype should be an arithmetic value, a std::string or a container/array'`

[code]

Using vcpkg:
high-five: 2.3#2
xtensor: 0.24.0
xtensor-io: 0.13.0#1

[2022-07-01 10:53] alkino commented on #595
today xtensor is only available with H5Easy it should be fix by #594

[2022-07-01 10:58] jamesbrownnz commented on #595
Okay I'll just close the comment as it's pretty much a duplicate of #594

[2022-07-01 11:00] #595 closed

[2022-07-05 15:31] jamesbrownnz opened #596 "H5Easy does not support sliced load for xtensor type"
Running this code returns a template resolution error.

[code]

Error output:
[code]

using vcpkg to install libs:
- xtensor: 0.24.0
- xtensor-io: 0.13.0#1
- highfive: 2.3#2

[2022-07-19 08:36] eachristgr opened #597 "Read data while concurrently writing it (SWMR - SingleWriter / MulipleReader)"
Hi!

I want to be able to simultaneously write and read an HDF5 file.

HDF5 1.10.0 and newer versions support the Single-Writer / Multiple-Reader or SWMR feature enables users to read data while concurrently writing it [Announcing HDF5 1.10.0](https://www.hdfgroup.org/2016/03/welcome-hdf5-1-10-0/).

I know that python library h5py supports this feature [h5py SWMR](https://docs.h5py.org/en/latest/s

[2022-07-19 14:19] 1uc commented on #597
From briefly reading the HDF5 documentation it seems that the process requires:
* Opening/creating an HDF5 file. One might need to state that one wants the modern file format. Hi5 can be used for all of this.
* Create the required structure in terms of groups and datasets. The dataset you want to grow must be unlimited along the direction you want it to grow. To the best of my knowledge you can do

[2022-07-27 09:43] james-mxr opened #599 "Writing empty xtensor array results in filled h5 dataset"
In numpy I can write a shape to an h5 dataset, and it will not actually populate it with information;
[code]
![image](https://user-images.githubusercontent.com/109164466/181216264-07a2f0bd-3c3a-4ad8-9db6-f6791902cdb6.png)

However with xtensor or highfive it seems to always populate it with data.
xtensor-io code:
[code]
or
[code]

I believe xtensor-io wraps Highfive Easy? Which makes sense why thi

[2022-07-27 14:51] tdegeus commented on #599
H5Easy does not support allocating an empty array. That *is* a thing that you can do with the basic API of HighFive, see e.g. https://github.com/BlueBrain/HighFive/blob/master/src/examples/create_dataset_double.cpp . In fact, H5Easy was specifically created to wrap around several functions including this one to provide the user with one-liners.

Then just a comment. `xt::empty` means allocate some

[2022-07-27 14:56] tdegeus commented on #596
The syntax you refer to is not a slice, but item (0, 1). It returns a scalar. So what does work is
[code]
and what might work (I cannot remember, if it does not please feel free to open a PR
[code]

I don't think that we support slicing in the basic HighFive API either, but that I'm not sure of. If you are interested to have it in in H5Easy: a PR would be welcomed!

[2022-08-04 04:37] sammaf opened #600 "Support for std::complex<float>"
Creating a dataset with a base type of std::complex\<float\> currently invokes a static assertion ("Type not supported").
Although a data set with a base type of std::complex\<double\> works (https://github.com/BlueBrain/HighFive/issues/165).
Minimal problem example:
[code]

[2022-08-06 11:10] xuedj opened #601 "Dose create_compound support string or vector?"
[code]

The second error confuses me, How can I achieve my purpose?  thanks

[2022-08-11 04:15] #600 closed

[2022-08-11 05:34] #601 closed

[2022-08-11 05:35] xuedj commented on #601
already solved

[2022-08-25 11:20] tdegeus commented on #599
Closing as resolved for now, but please come back to us when that is not the case

[2022-08-25 11:20] #599 closed

[2022-08-25 18:39] hshackle opened #603 "Saving Eigen matrix, returning error "The type is not trivially copyable""
I think this is most likely an issue on my side rather than a bug, but help would be very much appreciated. I'm trying to get HighFive to work with Eigen matrices, and have built with -DHIGHFIVE_USE_EIGEN=ON. Tests seem to run fine, and when built with -DHIGHFIVE_EXAMPLES=ON, the `eigen_matrix.cpp` example seems to run fine. However, I can't seem to get Eigen support to work when I compile my own

[2022-08-26 07:10] alkino commented on #603
You should add `-DH5_USE_EIGEN` to your command line.

[2022-08-29 11:32] ohm314 commented on #452
While, I'm not sure the question had been fully answered, I assume there is no specific follow-up and will close. Please feel free to reply here or post on the discussion forum if you have any other questions.

[2022-08-29 11:32] #452 closed

[2022-09-04 13:48] PhilipDeegan commented on #446
Would it be feasible to generate `H5Version.hpp` on release, that way cmake isn't required anymore for general usage

[2022-09-05 07:24] pramodk commented on #446
Just want to mention that the original issue about incompatibility with NVHPC/PGI compiler is fixed via  https://github.com/BlueBrain/HighFive/pull/465.

[2022-09-05 09:36] #446 closed

[2022-09-07 01:02] yyu233 opened #607 "H5Converter_misc: "Booleans are not supported yet" error & H5ReadWrite_misc "used but never defined" error"
**To Reproduce**
Steps to reproduce the behavior:
1. Build docker image from this docker file:[bioslam](https://github.com/tmcg0/bioslam/blob/dev/docker/Dockerfile#L63-L65)

**Expected behavior**
No error

**Stacktrace**
[code]
[code]

**Desktop (please complete the following information):**
 - OS:  Ubuntu
 - Version: `Linux gnocchi 5.15.0-46-generic #49~20.04.1-Ubuntu`

[2022-09-14 11:20] alkino commented on #607
See #25 and #490

I had hard time trying to add a full support of boolean. Because everything is broken in HighFive :p

[2022-09-14 11:34] #603 closed

[2022-09-14 14:38] ohm314 commented on #607
To be more precise: Not everything is broken in HighFive but `vector<bool>` type is not (yet) the reason being their internal representation in stdlib. I'm going to close this since it is essentially a duplicate of previous issues.

[2022-09-14 14:38] #607 closed

[2022-09-19 13:53] YoniSp opened #609 "H5Easy::File is multithreading support"
Hi,

When I trying to open/using the same file on 2 threads using H5Easy api
the API commands which has been seen to be problematic are:
H5Easy::File
H5Easy::load

Error mesage is:
`HDF5-DIAG: Error detected in HDF5 (1.13.2) thread 0:
  #000: /root/Downloads/hdf5-hdf5-1_13_2/src/H5F.c line 837 in H5Fopen(): unable to synchronously open file
    major: File accessibility
    minor: Unable to open f

[2022-09-19 14:02] 1uc commented on #609
There's two options:
* use a thread safe build of HDF5,
* implement your own API lock.

Personally, since HDF5 is only thread-safe, but without any concurrency, I prefer to implement the locking myself. This way I understand the locking strategy; and the STL supports easy to use mutexes.

You can look into:
https://docs.hdfgroup.org/hdf5/v1_12/_m_t.html

As a side note: when opening there could be

[2022-09-19 15:20] YoniSp commented on #609
Hi I compiled HDF5 with  thread safe but then there is no c++ support
When I compiled without it
I got a new error:
terminate called after throwing an instance of 'HighFive::DataSetException'
  what():  Unable to open the dataset "/data_10/a": (Virtual Object Layer) Bad value

what does it means?

[2022-09-28 11:38] 1uc commented on #609
I'm sorry, it's very hard to know what you're attempting to do. Please provide a minimal example, including build instructions, etc. Please describe carefully what you expect to happen and what you've tried. I find the process of writing a precise question often answers the question itself.

[2022-10-02 02:20] wadv1232 opened #613 "same issue,Reading fixed length string from attribute #322"
version:2.4.1
code：
[code]
error:
[code]
same issue ：Reading fixed length string from attribute #322

[2022-10-13 08:47] aborzunov opened #617 "Example for adding auto serialisation support for user defined types"
**Is your feature request related to a problem? Please describe.**

On master branch we can:
[code]

But we will fail on
[code]

**Describe the solution you'd like**
Example with implementing `inspector<>` specialisation in user/or highfive namesapce.

**Describe alternatives you've considered**
[code]

**Additional context**
A better solution would be implement auto serialisation for **range**-ty

[2022-10-13 08:54] alkino commented on #617
Your issue about having documentation is a copy of #566, the second idea about supporting types with `.begin()`, `.end()` is nice too.

[2022-10-13 12:46] TITAINc commented on #601
Hi@xuedj , I have encountered the same problem as you. How did you solve it?

[2022-10-17 07:08] aborzunov commented on #617
Yes, this works fine. Adding something like this (and one more complex example)  in docs would help users a lot.

But, as you agreed, supporting generic range types with `begin()`, `end()` would be wonderful feature.
Feel free to close this duplication issue or rewording this one to more generic case.

[2022-10-26 15:35] roblatham00 commented on #112
Can I expand the scope of this issue to collective read and write?   https://github.com/BlueBrain/HighFive/blob/master/include/highfive/bits/H5Slice_traits_misc.hpp#L252  passes a hard coded H5P_DEFAULT to H5Dwrite, which means no matter what property list folks set up it will never request collective I/O.  Same is true for the call to H5Dread in `SliceTraits<Derivate>::read()` https://github.com/

[2022-10-27 05:33] 1uc commented on #112
Thank you for reporting the issue. I need a similar feature myself. Therefore, this will likely get looked at and fixed in the next few weeks.

[2022-10-28 16:42] roblatham00 opened #625 "support Multi-dataset I/O"
**Is your feature request related to a problem? Please describe.**
The HDF5 library is close to releasing  (in HDF5-1.13.3) "multi-dataset i/o", a feature allowing users to describe or schedule accesses to several datasets, then fire them all off at once.

The interface is described in the "RFC: New HDF5 API Routines for HPC Applications
Read/Write Multiple Datasets in an HDF5 file" document, and

[2022-11-01 10:18] 1uc commented on #625
Thank you, this look very interesting. Also in the context of a usecase we have.

[2022-11-02 09:12] 1uc opened #628 "Build documentation for `MPIOFileAccess`."
I can't find `MPIOFileAccess` listed on:
https://bluebrain.github.io/HighFive/annotated.html

This might be due to it being only conditionally included.

[2022-11-04 06:44] yurivict opened #633 "2.5.0: Fails to find HDF5"
**Describe the bug**
[This line](https://github.com/BlueBrain/HighFive/blob/master/CMake/HighFiveTargetDeps.cmake#L11) causes this failure:
[code]

hdf5-1.12.2
clang-14
FreeBSD 13.1

[2022-11-04 06:54] yurivict opened #634 "One test fails"
[code]

Version: 2.5.0
clang-14
FreeBSD 13.1 STABLE

[2022-11-04 08:54] matz-e commented on #634
Duplicate of #550. I'm sorry, we're still waiting on upstream to provide a fix in HDF5.

[2022-11-04 08:54] #634 closed

[2022-11-04 16:32] 1uc commented on #633
I've tried using HighFive as a dependency in a trivial CMake based project. On my particular system a `find_package(HighFive)` followed by the `target_link_libraries(... PUBLIC HighFive)` sets the appropriate compiler/linker flags. Therefore, I'm unable to reproduce the issue.

Could you please create a minimal reproducer? And maybe explain why the line you mention is at fault.

[2022-11-07 15:43] 1uc opened #638 "Build coverage for pHDF5"
For sequential HDF5 we check that HDF5 can be build and linked properly. One of the important errors this find are missing `inline`. However, in #637 these checks failed to uncover such a case. It would be pleasant to close this gap, since the issues is likely to reoccur.

[2022-11-07 16:22] ohm314 opened #640 "Implement better error / warning logging"
Currently we mostly use `std::cerr` and Exceptions for reporting warnings and errors. This is not very flexible and can sometimes be quite inefficient (e.g. log one message per dataset might create an avalanche of messages for large HDF5 files).

It would be nice to replace this ad-hoc way of reporting things with a proper system. We could use a third-party logger library, or write a simple loggin

[2022-11-08 20:05] knoepfel commented on #633
Is see a similar error when trying to install highfive via Spack:

[code]

[2022-11-09 08:24] 1uc commented on #633
Thank you, this is reproducible. Also makes it clear why the mentioned line would be the issue:
[code]

[2022-11-09 15:26] matz-e commented on #633
I think we're triggering this oddity of CMake: https://gitlab.kitware.com/cmake/cmake/-/issues/23667

But I think it should be safe by now to remove the offending line.

[2022-11-09 15:41] 1uc commented on #633
I don't think so, because we get the error also when requesting `cmake@3.22.0`:
[code]

[2022-11-09 20:08] matz-e commented on #633
Fair enough. In that case the linked issue still points at unreliable behavior :)

[2022-11-10 11:57] 1uc commented on #633
The `~mpi` seem relevant.

[2022-11-11 08:21] #137 closed

[2022-11-11 15:56] johnlees opened #647 "Removal of support for bool?"
**Describe the bug**
When trying to store a bool with:
[code]
Two compiler errors occur due to a static_assert added in v2.5.0

**To Reproduce**
Either see the following build:
- https://dev.azure.com/jlees/pp-sketchlib/_build/results?buildId=1357&view=logs&jobId=1ebc38c8-fade-5a89-24da-f796855a97f6
- https://dev.azure.com/jlees/2174951b-ba6e-477b-8ec9-f4735bc1e2ba/_apis/build/builds/1357/logs/10

[2022-11-17 07:28] N-damo commented on #613
same issue

[2022-11-18 02:55] N-damo commented on #613
dimension of the attribute is 0,so "Impossible to read DataSet of dimensions 0 into arrays of dimensions 1"?

[2022-11-19 03:28] sighingnow commented on #203
To whom who need to reading a `HighFive::File` from memory buffer, the pull request https://github.com/BlueBrain/HighFive/pull/648 would make that possible:

[code]

[2022-11-21 16:53] 1uc commented on #647
Thank you for reporting the issue. I'm able to reproduce it locally, we'll look into it. If you urgently require any of the newly introduced functionality, you might be able to work around the issue by storing/loading a `std::uint8_t` instead, something along the lines of:
[code]

[2022-11-21 16:56] johnlees commented on #647
Thanks, I've indeed rewritten our code using `uint8_t` now (I see them in the DB as `H5T_STD_U8LE`) – just need to check it works ok with the older DBs too.
Although, do you plan on adding `bool` support back in? In which case I might revert my changes and pin an older highfive version until this is added again

[2022-11-21 17:35] 1uc commented on #647
I would be nice to simply store/load `bool`s. One thing that makes this a bit more finicky is that HDF5 doesn't seem to include a native type for `bool`. Therefore, we'll probably try to do whatever `h5py` does. It seems it builds an 'enum' from a signed 8-bit integer as follows:

[code]
This is also what you see in the PR you link, for reintroducing support for `bool`.

[2022-11-22 13:43] johnlees commented on #647
Makes a lot of sense.
However I want to stay backwards compatible with HDF5 files generated with previous versions of my code, so I'll go ahead and use the `uint8_t` approach

[2022-11-22 14:20] matz-e commented on #633
OK, was just able to reproduce this earlier with @heerener.

Basically, HDF5 1.12.1 works, but 1.12.2 fails with a variety of CMake versions. We were able to get HighFive to build by patching
[code]
to
[code]
skipping the CMake Find* modules and directly using the CMake config provided by HDF5.

[2022-11-22 15:03] 1uc commented on #613
It sounds like you want to read a single fixed length string, not an array of fixed length strings. The class `HighFive::FixedLenStringArray<8>` models an array of strings, each of which has length 8.

In order to read a fixed length string you do something along the lines of:
[code]
Probably a `char [6]` would work too. Naturally, you could also read the string as a `std::string`.

[2022-11-23 13:00] ohm314 opened #651 "Build with Spack in CI"
Recently a version was released which broke spack builds. We should extend the CI to build the HighFive spack package.

(to be elaborated)

[2022-11-23 13:09] alkino commented on #633
Should be fixed with v2.6.2

[2022-11-23 17:52] yurivict commented on #633
It is fixed indeed.
Thank you.

[2022-11-23 17:52] #633 closed

[2022-11-24 01:34] N-damo commented on #613
not work.
error:
Can't output std::string as fixed-length. Use raw arrays or FixedLenStringArray

![image](https://user-images.githubusercontent.com/43883112/203674221-334d5e2c-369f-4d11-8c4f-7beb7230ab53.png)
![image](https://user-images.githubusercontent.com/43883112/203674551-83730749-869b-4d45-8a72-f318db758ae7.png)

[2022-11-26 17:01] robomics opened #658 "Memory leak in Attribute::read"
Calling `Attribute::read` results in 4 bytes of memory leaked.

I believe the bug was introduced with `v2.5.0`.

**To Reproduce**
The leak is observable by compiling and running the following code with ASAN (tested with clang 14 and gcc 12.2):
[code]

[code]

**Desktop (please complete the following information):**
 - OS: archlinux
 - Version: 2.6.2

[2022-11-26 20:14] balping opened #659 "Support Array type"
**Is your feature request related to a problem? Please describe.**

The HDF5 standard contains an `Array` type that is currently not supported by HighFive. See this figure from the User's Guide:

![a](https://user-images.githubusercontent.com/5840038/204106748-da027f38-c7b7-4e1b-9557-d761212bbbaa.png)

It *is* recognised by HighFive as  a datatype, there's no further support:

https://github.com/B

[2022-11-28 06:57] alkino commented on #658
Thanks you for your report, I produced a fix in #660, tested with your small example and ASAN.
The small reproducible help a lot.

[2022-11-28 09:06] kailvn commented on #613
same issue, but the test case "HighFiveFixedLenStringArrayAttribute" work.

[2022-11-28 10:06] #658 closed